---
import { changeLanguage } from "i18next";
import MinimalLayout from "@layouts/MinimalLayout.astro";
import Filters from "@components/app/filters.astro";
import SortingTh from "@components/app/sortingTh.astro";
import { searchUrl } from "@utils/searchUrl";
changeLanguage("en");
---

<MinimalLayout>
  <div class="flex flex-col mt-3 ml-4 mr-4">
    <h1 class="page-title">SDprices.com</h1>
    <div class="l-main-content">
      <form id="search"
        hx-post={searchUrl}
        hx-trigger="load"
        hx-ext="json-enc"
        hx-target="#search-results"
        hx-indicator=".htmx-indicator"
        data-astro-reload
      >
        <Filters/>
        <div class="l-table-container" x-data="{ sorting: ''}">
          <input
            class="u-hide"
            type="text"
            id="sort"
            x-model="sorting"
            x-query-string="sorting"
            x-init="$watch('sorting', val => $dispatch('local_sorting', val))"
            name="sorting" />
          <table class="data-table">
            <thead>
              <tr>
                <SortingTh label="Brand" key="brand.name" displayKey="brand"/>
                <SortingTh label="Capacity" key="capacity"/>
                <SortingTh label="Price" key="price"/>
                <th x-data="" x-show="$store.columnsDisplay.pricePerGb">Price per GB</th>
                <th x-data="" x-show="$store.columnsDisplay.format">Format</th>
                <th x-data="" x-show="$store.columnsDisplay.type">Type</th>
                <th x-data="" x-show="$store.columnsDisplay.speedClass">Speed class</th>
                <th x-data="" x-show="$store.columnsDisplay.speedRW">Speed R/W</th>
                <SortingTh label="Condition" key="condition"/>
                <th x-data="" x-show="$store.columnsDisplay.eta">ETA</th>
                <SortingTh label="Rating" key="rating"/>
                <th>Link</th>
              </tr>
            </thead>
            <tbody id="search-results">
            </tbody>
          </table>
        </div>
        <div class="htmx-indicator">Searching... Please wait</div>
      </form>
    </div>
    <div class="footer">
      <p>As an Amazon Associate I earn from qualifying purchases. Last updated at 2024-03-05 12:54:02 UTC. Prices and availability are accurate at the date/time indicated and are subject to change. Any price and availability information displayed at the time of purchase will apply to the purchase of the product. CERTAIN CONTENT THAT APPEARS ON THIS SITE COMES FROM AMAZON SERVICES LLC. THIS CONTENT IS PROVIDED 'AS IS' AND IS SUBJECT TO CHANGE OR REMOVAL AT ANY TIME.</p>
    </div>
    <script is:inline src="/js/htmx.1.9.10.js"></script>
    <script is:inline src="/js/htmx.1.9.10-ext-json-enc.js"></script>
    <script is:inline src="/js/script.js"></script>
    <script is:inline src="/js/alpinejs.3.x.x.min.js"></script>
  </div>
</MinimalLayout>
